/* WORDLE MAIN TAGS. */

html {
    font-family: arial;
}

header {
    text-align: center;
}

body {
    font-size: 160%;
    width: 99%;
}

main {
    margin-top: 1%;
    margin-bottom: 2%;
}

footer {
    text-align: center;
}


/* IDs. */

#word_logo {
    font-size: 400%;
    color: rgb(0, 103, 0);
}

#word_guess_try,
#word_guess_next,
#word_guess_rules {
    display: inline;
    background-color: rgb(0, 103, 0);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    margin: 1%;
}

#word_guess_try {
    font-size: 230%;
    display: none;
}

#word_guess_next {
    margin-left: 2%;
    font-size: 90%;
}

#word_guess_rules {
    margin: 0%;
    font-size: 100%;
}

#word_results,
#word_guess_input {
    width: 40%;
    margin-left: 37.8%;
}

#word_guess_input {
    display: inline;
}

#main_text_output {
    font-size: 120%;
    color: rgb(0, 0, 0);
}

#rules_section {
    display: none;
    text-align: center;
}

#guess_game_over {
    display: none;
}

#guess_game_the_word_was,
#guess_game_over_label {
    margin-bottom: 1%;
    display: block;
}

#guess_game_over_label {
    font-size: 140%;
    color: rgb(0, 103, 0);
    color: rgb(255, 0, 0);
}


/* CLASSes. */

.word_guess_word,
.word_guess_word_past {
    width: 4%;
    font-size: 250%;
    margin-top: 1%;
    border-radius: 10%;
    text-align: center;
    border: 4px solid rgb(96, 96, 96);
    text-transform: uppercase;
}

.word_guess_word_past {
    margin-right: 0.9%;
    width: 10%;
}


/* CLASS sets for letter cases. */

.correct_letter_right_slot {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 127, 50);
}

.correct_letter_wrong_slot {
    color: rgb(255, 255, 255);
    background-color: rgb(207, 180, 0);
}

.wrong_letter {
    color: rgb(255, 255, 255);
    background-color: rgb(159, 159, 159);
}


/* View on square screen. */

@media only screen and (max-width: 1400px) {
    /* tag CSS */
    body {
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
    }
    main {
        width: auto;
    }
    /* IDs */
    #word_logo {
        font-size: 400%;
        color: rgb(0, 103, 0);
    }
    #word_results,
    #word_guess_input {
        width: 100%;
        margin: 0px;
    }
    /* CLASSes. */
    .word_guess_word,
    .word_guess_word_past {
        width: 100px;
        height: 100px;
        font-size: 260%;
        margin-bottom: 1%;
        border-radius: 10%;
        text-align: center;
        border: 4px solid rgb(106, 106, 106);
    }
    .word_guess_word_past {
        margin-left: 0.4%;
    }
}


/* View on mobile. */

@media only screen and (max-width: 360px) {
    /* tag CSS */
    body {
        font-size: 100%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    /* IDs */
    #word_logo {
        font-size: 280%;
        color: rgb(0, 103, 0);
    }
    #word_results,
    #word_guess_input {
        width: 100%;
        margin: 0px;
    }
    #guess_game_over_label,
    #guess_game_the_word_was,
    #word_guess_rules {
        font-size: 150%;
    }
    /* CLASSes. */
    .word_guess_word,
    .word_guess_word_past {
        width: 55px;
        height: 55px;
        font-size: 250%;
        margin-bottom: 1%;
        border-radius: 10%;
        text-align: center;
        border: 4px solid rgb(106, 106, 106);
    }
    .word_guess_word_past {
        margin-left: 0.2%;
    }
}